asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
brotli==1.2.0
cbor2==6.1.4
cffi==2.1.1
channels==4.3.2
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
constantly==23.10.4
cryptography==50.0.1
cssselect2==0.9.0
daphne==4.2.3
Django==6.1
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
et_xmlfile==2.0.0
fonttools==4.63.0
h11==0.16.0
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.2.1
openpyxl==3.1.5
packaging==26.3
pillow==12.3.0
psycopg2==2.9.12
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyOpenSSL==26.4.0
pypdf==6.16.2
pypdfium2==5.13.0
pyphen==0.18.1
PyYAML==6.0.3
qrcode==8.2
referencing==0.37.0
reportlab==5.0.1
rpds-py==2026.6.3
service-identity==26.1.0
sqlparse==0.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.3
ujson==5.13.0
uritemplate==4.2.0
uvicorn==0.52.4
webencodings==0.6.1
websockets==17.0.1
zope.interface==8.6
zopfli==0.4.3
